# Data sets
###################
*.npz
*.arff

# Models
###################
gait_classification/models
gait_classification/data
gait_classification/mess

# Python
###################
*.pyc

# MISC
###################
*.xml
*.txt

