# Data sets
###################
*.npz
*.arff

# Models
###################
gait_classification/models
gait_classification/data
gait_classification/mess
gait_classification/joe_keras_work/weights

# Python
###################
*.pyc

# MISC
###################
*.xml
*.txt
*.h5

