# Data sets
###################
*.npz
*.arff

# Models
###################
gait_classification/models
gait_classification/data

# Python
###################
*.pyc

# MISC
###################
*.xml
*.txt
*~
